langchain==0.3.15
langchain-community==0.3.15
langchain-ollama==0.2.2
langchain-groq==0.2.4
langchain-huggingface==0.1.2
langchain-core==0.3.33
sentence-transformers
faiss-cpu
pypdf
streamlit
python-dotenv
tiktoken
fpdf2
rank_bm25
pytesseract
pymupdf
pdfplumber
